In [226]:
import requests
import pandas as pd
import numpy as np

url = requests.get('https://www.commonsense.org/education/app/wizard-school')

In [194]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(url.text, 'html.parser')

In [209]:
records = []

product_name = soup.h1.string


product_name
records.append(product_name)

In [210]:
grade = soup.find('div', attrs={'class':'product-grades__value'})
grades= ((grade.find('span'))).string


grades
records.append(grades)

In [211]:
price = soup.find('span', attrs = {'class': 'product-price__value'}).string

price
records.append(price)

In [212]:
skill = soup.find('div',attrs = {'class': 'subjects-skills__item'})
skill_1 = (skill.find('span')).string
print(skill_1)

skill_2 = skill_1.find_next('span').string
print(skill_2)

records.append(skill_1)
records.append(skill_2)

Creativity
Character & SEL

In [213]:
subject = skill.find_next('div',attrs = {'class': 'subjects-skills__item'})

subjects = (subject.find('span')).string

subjects
records.append(subjects)

In [214]:
p_des = soup.find('div',attrs = {'id': 'collapse-tool-overview'})

product_description = (p_des.find('p')).text

product_description
records.append(product_description)

In [215]:
teacher = soup.find('a',attrs = {'class':'mobile-break teacher-name'}).string

teacher
records.append(teacher)

In [217]:


school = soup.find('div', attrs = {'class': 'school-info mobile-hide'}).text

s_sp = school.split()

school_name = s_sp[0]+" "+ s_sp[1] + " " + s_sp[2]

school_name
records.append(school_name)

In [218]:
rating = soup.find('span', attrs = {'class': 'rating-star gray rating-5'})

teacher_rating = rating.find_next('span').string

teacher_rating
records.append(teacher_rating)

In [219]:
review = rating.find_next('p')
teacher_review = review.string

teacher_review
records.append(teacher_review)

In [234]:
df = pd.DataFrame(records).transpose()
df.columns = ['product_name','grades','price','skill_1','skill_2','subjects','product_description','teacher',
             'school_name', 'teacher_rating','teacher_review']
df

,product_name,grades,price,skill_1,skill_2,subjects,product_description,teacher,school_name,teacher_rating,teacher_review
0,Wizard School,2-8,Free,Creativity,Character & SEL,Arts,"In their own unique Wizard School account, kid...",Christi C.,Wise Primary School,5,Wonderbox is one of the best educational apps ...